{% extends 'parent.html' %}
      
      {% block navname %}
      All Resumes 
      <p class="text-base"> We've listed all your resumes below, {{request.user.first_name}}</p>
      {% endblock navname %}
        
      {% block content %}

    <div class="bg-beige-warm h-full flex justify-center" style="flex-flow: wrap;">

      {% for profile in request.user.additionalprofile_set.all %}
      <div class=" lg:w-3/12 md:w-4/12 w-8/12  border-2 maroon m-12 p-10 text-center shadow-2xl rounded-lg">

      <a href="{% url 'completed' profile.uniqueid %}" >
        <h1 class="text-2xl font-bold">Role {{prof}}</h1>
        <p class="mt-3">{{profile.profile_summary | truncatewords:20}}</p></a>
      </div>

      {% empty %}
      <div class="h-screen text-center" style="display: grid; place-content: center;" >
      <p class="text-2xl ">It seems you don't have any resumes/CV's here yet.</p>
      <a href="{% url 'create_new' %}" class="px-20 mt-16 py-6 text-2xl font-medium bg-maroon text-white rounded-lg">Add New Resume </a>
      </div>
      {% endfor %}

    </div>
    {% endblock content %}