<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build Your Resume Today | Django Resume Builder</title>
    <link rel="stylesheet" href="{% static 'custom.css' %}" />
    <link rel="stylesheet" href="{% static 'tailwind-all.min.css' %}" />
  </head>

  <body>
    <nav class="h-24 bg-maroon text-white text-3xl">
      <h1>Django Resume App</h1>
    </nav>

    <div class=" h-screen bg-beige-warm mt-12 text-center font-bold p-10 text-2xl">

    <a href="{% url 'resumepath' profile.uniqueid %}" class="bg-beige rounded w-5/12 inline-block p-12 text-center">View Resume</a>

    <a href="{% url 'download' profile.uniqueid %}" class="bg-maroon text-white rounded w-5/12 inline-block p-12">Download</a>

    </div>


   
  </body>
</html>
