<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build Your Resume Today | Django Resume Builder</title>
    <link rel="stylesheet" href="../static/custom.css" />
    <link rel="stylesheet" href="../static/tailwind-all.min.css" />
  </head>


  <body>
    <nav class="h-24 bg-maroon"></nav>

    <main class="main">
      <section class="hero-section bg-blue-300 h-screen bg-transparent pt-12" style="background-image: url(../static/images/balloons_city_girl_mood_smile_beautiful_color_happy.jpg); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
        <div class="hero-text  w-9/12 m-auto flex-col align-middle justify-center">
          <h2 class="text-4xl font-extrabold text-center">Welcome to our Powerful Resume Builder!</h2>

          <h2 class="text-3xl font-bold text-center">Let's help you fire up the hiring process with our Powerful Resume Builder!</h2>
        
          <h2 class="text-2xl font-semibold">Are you ready to show off your skills to that Employer?</h2>
       

          
        <div class="hero-btns ">
            <a href="#">
              <button>Create My Resume</button>
            </a>
            or
            <a href="#">
              <button>Show my Resumes</button>
            </a>
          </div>
       
        </div>


      </section>

      <section class="bg-green-500">
    
      </section>

    </main>
  </body>
</html>
