<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Resume Today | Django Resume Builder</title>
    <link rel="stylesheet" href="../static/tailwind-all.min.css">
    <link rel="stylesheet" href="../static/custom.css">
</head>

  <body>
    <nav class="h-24 bg-maroon text-white text-3xl"><h1>{% block navname %}{% endblock navname %}</h1></nav>

    {% block content %}   {% endblock content %}

  </body>

  </html>
