
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href=" {% static 'resume1.css' %} ">
<div class="container">
  <div class="header">
   
    <div class="full-name">
      <span class="first-name">{{request.user.first_name}}</span> 
      <span class="last-name">{{request.user.last_name}}</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">{{request.user.email}}</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">{{profile.phone}}</span>
    </div>
    
    <div class="about">
      <span class="position">Front-End Developer </span>
      <span class="desc">
       {{profile.profile_summary}}
      </span>
    </div>
  </div>
   <div class="details">
    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        
        {% for exp in profile.workexperience_set.all %}
          
        <div class="section__list-item">
          <div class="left">
            <div class="name">{{exp.company}}</div>
            <div class="addr">San Fr, CA</div>
            <div class="duration">{{exp.started_from}} - {{exp.stopped_at}}</div>
          </div>
          <div class="right">
            <div class="name">{{exp.job_title}}</div>
            <div class="desc">{{exp.achievement}}</div>
          </div>
        </div>

        {% endfor %}
             

      </div>
    </div>
    <div class="section">
      <div class="section__title">Education</div>
      <div class="section__list">
        
        {% for edu in profile.education_set.all  %}
          
        <div class="section__list-item">
          <div class="left">
            <div class="name">{{edu.degree}}, {{edu.institution}}</div>
            <div class="addr">San Fr, CA</div>
            <div class="duration">{{edu.started_from}} - {{edu.stopped_at}}</div>
          </div>
          <div class="right">
            <div class="name">Computer Science</div>
            <!-- <div class="desc">did This and that</div> -->
          </div>
        </div>
        {% endfor %}

      </div>
      
  </div>
     <div class="section">
      <div class="section__title">Projects</div> 
       <div class="section__list">
        {% for project in profile.project_set.all %}
        <div class="section__list-item">
          <div class="name">{{project.title}} -> {{project.your_role}}</div>
          <div class="text">{{project.description}}</div>
        </div>
        {% endfor %}
       
       </div>
    </div>


     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
         <div class="skills__item">
           <div class="left"><div class="name">
            {% for skill in profile.skill_set.all  %}
            {{skill.skill}},
            {% endfor %}
            
             </div></div>
        
         </div>
         
       </div>
         
       </div>
     <div class="section">
     <div class="section__title">
       Interests
       </div>
       <div class="section__list">
         <div class="section__list-item">
                  Football, programming.
          </div>
       </div>
     </div>
     </div>
  </div>
</div>



