{% extends 'parent.html' %}
    
    {% block navname %}Sign Up Now{% endblock navname %}
    {% block content %}

    <div class="w-10/12 m-auto mt-12" >

        <form action="" method="POST" class="border-2 p-6 border-green-600">
            {% csrf_token %}
            
            {% for field in form %}
            <p class="">{{field.label}}</p> 
            <div class="h-16 border-blue-600 flex"> {{field}} </div>
            {% endfor %}
                
           
        <div class="flex" style = "gap: 2em;">
        <input type="submit" class="block px-16 mt-16 py-4 text-2xl font-medium bg-maroon text-white rounded-lg" value="Register">
        <a href="{% url 'login' %}" class="px-20 mt-16 py-6 text-2xl font-medium bg-beige-warm rounded-lg">Login </a>

        </div>
        </form>

    </div>

    {% endblock content %}
