<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Resume Today | Django Resume Builder</title>
    <link rel="stylesheet" href="../static/custom.css">
    <link rel="stylesheet" href="../static/tailwind-all.min.css">
  </head>

  <body>

    <nav class="h-24 bg-maroon text-white text-3xl"><h1>Sign In now </h1></nav>

    <div class="w-10/12 m-auto">

        <form action="" method="POST" class="border-2 border-green-600 m-10 p-5 rounded">
            {% csrf_token %}

            
            <p class="text-2xl"><label for="id_email">Email:</label></p>
            <div class="h-20 border-blue-600 flex">
                <input type="text" name="email" class="flex-1" required="" id="id_email">
                <p></p>
            </div>
         

                    <p class="text-2xl"><label for="id_password">Password:</label></p>
                    <div class="h-20 border-blue-600 flex">
                        <input type="password" name="password" class="flex-1" required="" id="id_password">
                        <p></p>
                    </div>
                 
            
               
            
                    <div class="flex" style = "gap: 2em;">
                        <input type="submit" class="px-16 mt-16 py-4 text-2xl font-medium bg-maroon text-white rounded-lg" value="Login">
                        <a href="{% url 'signup' %}" class="px-20 mt-16 py-6 text-2xl font-medium bg-beige-warm rounded-lg">Register </a>
                
                        </div>
        </form>



    </div>

   

    

    </body></html>