<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper-for-projects">

        <div class="fields-wrapper mt-8 flex flex-wrap contact-info" style="row-gap: 1em">
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <input type="text" name="job_title2" placeholder="Job Title/Role" class="h-16 px-5 border-2 border-red-400 w-full rounded input" data-inputname="job_title">
          </div>
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <input type="text" name="job_organization2" placeholder="Organization/Company name" data-inputname="job_organization" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
          </div>
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <textarea name="job_achievement2" data-inputname="job_achievement" placeholder="Tell us your achievements in the organization" cols="10" class="h-32 p-5 border-2 border-red-400 w-full rounded input"></textarea>
          </div>

          <div class="ABBBullla field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto flex flex-wrap">
            
            <div class="field-div lg:w-5/12 md:w-10/12 flex-1">
              From:
              <input name="job_from1" type="date" data-inputname="job_from" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
            </div>

            <div class="field-div lg:w-5/12 md:w-10/12 flex-1">
              To:
              <input name="job_to1" type="date" data-inputname="job_to" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
            </div>


          </div>
        </div>

        <div class="fields-wrapper mt-8 flex flex-wrap contact-info" style="row-gap: 1em">
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <input type="text" name="job_title1" placeholder="Job Title/Role" class="h-16 px-5 border-2 border-red-400 w-full rounded input" data-inputname="job_title">
          </div>
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <input type="text" name="job_organization1" placeholder="Organization/Company name" data-inputname="job_organization" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
          </div>
          <div class="field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto">
            <textarea name="job_achievement1" data-inputname="job_achievement" placeholder="Tell us your achievements in the organization" cols="10" class="h-32 p-5 border-2 border-red-400 w-full rounded input"></textarea>
          </div>

          <div class="ABBBullla field-div lg:w-5/12 md:w-10/12 w-11/12 m-auto flex flex-wrap">
            
            <div class="field-div lg:w-5/12 md:w-10/12 flex-1">
              From:
              <input name="job_from1" type="date" data-inputname="job_from" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
            </div>

            <div class="field-div lg:w-5/12 md:w-10/12 flex-1">
              To:
              <input name="job_to1" type="date" data-inputname="job_to" class="h-16 px-5 border-2 border-red-400 w-full rounded input">
            </div>

          </div>
        </div>
    </div>



    <script>
            


    </script>

</body>
</html>